.answers {
    height: 100vh;
    overflow: hidden;
    padding: 0 2rem;
    .carousel-wrapper {
        height: calc(100vh - 8rem);
        display: flex;
        justify-content: center;
        align-items: center;
        .carousel {
            width: 75%;
            flex-basis: 75%;
            background: var(--primary-color);
            border: 1px solid var(--secondary-color);
            border-radius: 1rem;
            color: var(--secondary-color);
            &-item {
                padding: 1rem 3rem;
                img {
                    width: 15rem;
                    height: 10rem;
                }
                .wrapper {
                    margin-top: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    position: relative;
                }
                .message {
                    position: absolute;
                    top: 1rem;
                }
            }
            &__icon {
                color: var(--secondary-color);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .answers {
        padding: 0 1rem;
        .carousel-wrapper {
            .carousel {
                height: calc(100vh - 3rem);
                width: 100%;
                flex-basis: 100%;
                height: 100%;
                font-size: 1rem;
                &__viewport, &__track, &__slide {
                    height: 100%;
                }
                &-item {
                    padding: 1rem;
                    gap: 1rem;
                    flex-direction: column;
                    img {
                        width: 100%;
                        height: auto;
                        max-height: 150px;
                        margin-bottom: 1rem;
                    }
                    .wrapper {
                        flex-direction: column;
                        width: 100%;
                    }
                    .message {
                        position: relative;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}